.boundTextIcon {
    float: left;
    padding-right: 10px;
    margin-top:13px;
}

.boundText {
    float: left;
    width: calc(100% - 40px);
}

.phoneText {
    float: left;
    width: calc(100% - 120px);
}

.floatLeft  {
    float: left;
}

.floatClear {
    clear: both
}