.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
  @extend .noselect;
  padding:0px;
  margin:0px;
  font-family: Arial;
  height:100%;
  width: 100%;
  overflow:hidden;
}

.contacts {
  height:100%;
  width: 100%;
}

.floatingButton {
  position: fixed;
  z-index: 1;
  right:0px;
  bottom: 0px;
  margin-right:16px;
  margin-bottom:16px;
}

